<% if (locals.user){ %>
<li id="post-<%= post._id %>">
    <p>
      
        <%- post.content %>
        <br>
   
    </p>
    <div class="post-comments">
     
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
          
            </form>

        <% } %>

        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>" style="list-style-type: none;">
                <% for (comment of post.comments){%>

                    <%- include('_comment') -%>
                    
                
                <%} %>
            </ul>
        </div>
    </div>
    
</li>